extends base

block append css
  link(rel='stylesheet', type='text/css', href='/static/css/index.css')
  link(rel='stylesheet', type='text/css', href='/static/lib/alertify.js/themes/alertify.core.css')
  link(rel='stylesheet', type='text/css', href='/static/lib/alertify.js/themes/alertify.default.css')

block body
  .row
    .col-md-4.col-md-offset-4
      br
      p.text-info(style="text-align:center; font-size: 5em;margin-top: -120px") هورین 
      if message
        .alert.alert-danger= message
      legend.
        برای یافتن فردی جهت چت تصادفی، وارد شوید!
      p
        small
          اگر عضو هستید، با ایمیل و رمز عبور خود وارد شوید.
      .login-form
        form(method='post', action='/login', name='login-form', role='form')
          .form-group
            label.sr-only(for='login-email')
            input#login-email.form-control(type='email', name='email',
              placeholder='ایمیل', ng-maxlength='40', required)
          .form-group(style='margin-right: .1em;')
            label.sr-only(for='login-password')
            input#login-passord.form-control(type='password', name='password',
              placeholder='رمز عبور', ng-maxlength='40', required)
          //-
            .checkbox(disabled)
              input#login-remember-me(type='checkbox', name='rememberMe')
              label(for='login-remember-me')
                مرا به خاطر بسپار
          button.btn.btn-primary(type='submit', style='float: left;')
            ورود
        small
        br
      legend#register.
        عضویت در هورین
      .signup-form
        form(method='post', action='/signup', name='signup-form', onsubmit='javascript: return validateSignup();' role='form')
          .row
            .col-md-6.col-md-push-6
              .form-group
                label.sr-only(for='signup-firstname')
                input#signup-firstname.form-control.input-lg(type='text', name='firstname',
                  placeholder='نام', ng-maxlength='40', required)
            .col-md-6.col-md-pull-6
              .form-group
                label.sr-only(for='signup-lastname')
                input#signup-lastname.form-control.input-lg(type='text', name='lastname',
                  placeholder='نام خانوادگی', ng-maxlength='40', required)

          .form-group
            label.sr-only(for='signup-gender')
            select#signup-gender.form-control.input-lg(name='gender',
              placeholder='جنسیت', required)
              option زن
              option مرد
          .form-group
            label.sr-only(for='signup-email')
            input#signup-email.form-control.input-lg(type='email', name='email',
              placeholder='ایمیل', ng-maxlength='40', required)
          .form-group
            label.sr-only(for='signup-password')
            input#signup-password.form-control.input-lg(type='password', name='password',
              placeholder='رمز‌عبور', ng-maxlength='40', required)
          .form-group
            label.sr-only(for='signup-password-confirm')
            input#signup-password-confirm.form-control.input-lg(type='password', name='passwordConfirm',
              placeholder='رمز عبور را دوباره بنویسید', ng-maxlength='40', autocomplete='off', required)
          button.btn.btn-default.btn-lg.btn-block(type='submit')
            ثبت

  .row
    .col-md-4.col-md-offset-4
      hr
      nav
        ul.list-inline.pull-right
          li 
            a(href="http://blog.horin.ir", target="_blank")
              small بلاگ&nbsp
          |
          li 
            a(href="/rules")
              small قوانین&nbsp
          |
          li
            a(href="/about#contact")
              small تماس&nbsp
          |
          li
            a(href="/about#FAQs")
              small سوالات متداول&nbsp
          |
          li
            a(href="/about")
              small درباره‌ی هورین

block append bottom-js
  script(src='/static/lib/alertify.js/lib/alertify.min.js')
  script(type='text/javascript').
    document.getElementById('login-email').focus();

  script(type='text/javascript').
    function validateSignup(event) {
      var pass = document.getElementById('signup-password');
      var passConfirm = document.getElementById('signup-password-confirm');

      var firstname = document.getElementById('signup-firstname');
      var lastname = document.getElementById('signup-lastname');

      if (pass.value === passConfirm.value) {
        if (firstname.value && lastname.value) {
          var firstMatch = firstname.value.match(/^[\u0600-\u06FF\ \‌]+$/);
          var lastMatch = lastname.value.match(/^[\u0600-\06FF\ \‌]+$/);
          if (firstMatch && lastMatch) {
            return true;
          } else {
            alertify.error(
              'نام و نام خوانوادگی فقط می‌توانند از حروف الفبا تشکیل شده باشند.'
              );
            return false;
          }
        } else {
          alertify.error(
            'نام و نام خوانوادگی فقط می‌توانند از حروف الفبا تشکیل شده باشند.'
            );
          return false;
        }
      } else {
        alertify.error('رمز عبورهای وارد شده با هم تفاوت دارند.');
        return false;
      }
    };
