extends base

block append css
  link(rel='stylesheet', type='text/css', href='/static/css/index.css')

block body
  .row
    .col-md-4.col-md-offset-4
      br
      p.text-info(style="text-align:center; font-size: 5em;margin-top: -120px") هورین 
      legend.
        برای یافتن فردی جهت چت تصادفی، وارد شوید!
      .login-form
        form.form-inline(method='post', action='/login', name='login-form', role='form')
          .form-group
            label.sr-only(for='login-username')
            input#login-username.form-control(type='text', name='username',
              placeholder='نام', ng-maxlength='20', required)
          .form-group(style='margin-right: .1em;')
            label.sr-only(for='login-password')
            input#login-passord.form-control(type='password', name='password',
              placeholder='رمز عبور', ng-maxlength='20', required)
          //-
            .checkbox(disabled)
              input#login-remember-me(type='checkbox', name='rememberMe')
              label(for='login-remember-me')
                مرا به خاطر بسپار
          button.btn.btn-primary(type='submit', style='float: left;')
            ورود
        br
        small
          این نسخه آزمایشی سایت است. درصورت مشاهده‌ی ایراد با ما 
          a(href="/about#contact")
            تماس 
          بگیرید.
      br
      legend.
        عضویت
      .signup-form
        form(method='post', action='/signup', name='signup-form', role='form')
          .form-group
            label.sr-only(for='signup-username')
            input#signup-username.form-control.input-lg(type='text', name='username',
              placeholder='نام کاربری', ng-maxlength='20', required)
          .form-group
            label.sr-only(for='signup-email')
            input#signup-email.form-control.input-lg(type='email', name='email',
              placeholder='ایمیل', ng-maxlength='20', required)
          .form-group
            label.sr-only(for='signup-password')
            input#signup-password.form-control.input-lg(type='password', name='password',
              placeholder='رمز‌عبور', ng-maxlength='20', required)
          button.btn.btn-lg.btn-block(type='submit')
            ثبت

  .row
    .col-md-4.col-md-offset-4
      p نمی‌دانید چت تصادفی چیست؟! از  
        a(href="/about")
          اینجا 
        درباره‌ی هورین بخوانید!
      hr
      ul.list-inline.pull-right
        li 
          a(href="http://blog.horin.ir", target="_blank")
            small بلاگ&nbsp
        |
        li 
          a(href="/rules")
            small قوانین&nbsp
        |
        li
          a(href="/about#contact")
            small تماس&nbsp
        |
        li
          a(href="/about#FAQs")
            small سوالات متداول&nbsp
        |
        li
          a(href="/about")
            small درباره‌ی هورین

block prepend bottom-js
  script(type='text/javascript').
    document.getElementById('login-username').focus();
